/*Estilos modificados al theme jqueryUI*/

/* @group jquery ui modification */

.borderradius .ui-autocomplete {
		max-height: 180px;
		overflow-y: auto;
		/* prevent horizontal scrollbar */
		overflow-x: hidden;
		/* add padding to account for vertical scrollbar */
		padding-right: 20px;
		-webkit-border-radius: 4px;
	border-radius: 4px;
	border: 1px outset #000;
	
	}
	/* IE 6 doesn't support max-height
	 * we use height instead, but this forces the menu to always be this tall
	 */
* html .ui-autocomplete {
		height: 180px;
	}
	
#ui-datepicker-div{
	z-index: 100;
	position: absolute;
	top: 0;
	left: 0;
	
}

	.column{
	min-height: 688px;
	max-height: 700px;
	width: auto;
	overflow-x:hidden ;
	overflow-y:scroll ;
}


.boxshadow .column:hover{
        -webkit-box-shadow:  0px 0px 8px 8px rgba(255, 255, 255, 0.5);
        box-shadow:  0px 0px 8px 8px rgba(255, 255, 255, 0.5);
        
}

	.portlet { z-index: 100; display: block; margin: 2%; }
	.portlet-header { margin: 0.2em; padding-bottom: 4px; padding-left: 0.2em; position: relative;}
	.portlet-header .ui-icon { float: right; }
	.portlet-content { padding: 4%; font-size: 68%; height: 158px; position: relative; font-family: "Lucida Grande", Lucida, Verdana, sans-serif;}
	.ui-sortable-placeholder { border: 1px dotted black; visibility: visible !important; height: 50px !important; }
	.ui-sortable-placeholder * { visibility: hidden; }
	
.fontface .portlet-header{
   cursor: move;
   font-family: 'BebasNeue', helvetica;
   padding: 4px;
   font-size: 128%;

}


.portlet-header:hover{
	background: rgb(255,255,255); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(229,229,229,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(229,229,229,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* IE10+ */
background: linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(229,229,229,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=0 ); /* IE6-8 */
}
.ui-icon{
	cursor: pointer;
}

.modal-header{
	position: relative;
}

.modal-body{
	padding: 0 15px 15px 15px;
	position: relative;
}

/* @end */

/*Estilos de Fuentes*/

/* @group Fonts */
@font-face {
 font-family: BebasNeue;
 src: url("../fonts/BebasNeue.eot") /* EOT file for IE */
}
@font-face {
 font-family: BebasNeue;
 src: url("../fonts/BebasNeue.ttf") /* TTF file for CSS3 browsers */
}

@font-face {
 font-family: MyCustomFont;
 src: url("../fonts/BebasNeue.otf") /* otf file for CSS3 browsers */
}

@font-face {
 font-family: MyCustomFont;
 src: url("../fonts/BebasNeue.svg") /* otf file for CSS3 browsers */
}



/* @end */

/*Estilos generales*/

/* @group General */

.clear{
	clear: both;
	display: block;
	min-height: 2px;
	width: 100%;
}

ul, ol {
margin: 1em 0;
padding: 0 0 0 0px;
}

body{background-color: #3669B2;}

.civiik{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 500;
	color: #ffffff;
	padding-top: 8px;
}

.boxshadow .navbar{
	-webkit-box-shadow: 0px 4px 4px 2px rgba(255, 255, 255, 0.1);
box-shadow: 0px 4px 4px 2px rgba(255, 255, 255, 0.1);
}

.test{
	background: #E2E0E2;
}

.boxes{
	width: 100%;
	height: 100%;
	padding-top:48px;
}

.box{
	
	min-width:19%;
	max-width: 19%;
	min-height: 688px;
	max-height: 700px;
    display: block;
	background: #E2E0E2;
	float: left;
	margin:0.5%;
	overflow:hidden ;
	position: relative;
	
}

.borderradius .box{
	-webkit-border-radius: 2px;
	border-radius: 2px;
	
}

.title{
	border-bottom: 1px inset #ccc;
	position: relative;
	color: #000;
	background: #eeeeee; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2VlZWVlZSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNjY2NjY2MiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #eeeeee 0%, #cccccc 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#eeeeee), color-stop(100%,#cccccc)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* IE10+ */
background: linear-gradient(top,  #eeeeee 0%,#cccccc 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eeeeee', endColorstr='#cccccc',GradientType=0 ); /* IE6-8 */
	
}

.icons{
	position: absolute;
	right: 1px;
	top: 1px;
}

.borderradius .calendar{
	width:68px;
	text-align: center;
	-webkit-border-radius: 18px;
	border-radius: 18px;
	margin:3px;
	font-size: 60%;
}


.calendar{
        -webkit-transition: all 0.5s ease-in;
		-moz-transition: all 0.5s ease-in;
        -ms-transition: all 0.5s ease-in;
        -o-transition: all 0.5s ease-in;
		transition: all 0.5s ease-in;
}

.calendar:focus{
	 width: 88px;
}

.fontface .title{
   font-family: 'BebasNeue', helvetica;
   font-size: 68%;
   padding: 6px;

}

.fontface .pie{
	font-family: 'BebasNeue', helvetica;
   font-size: 80%;
   padding: 4px;
   color: #fff;
   text-align: center;
   
}

.category{
	margin: 0 1% 0 0;
	display: block;
	float: left;
}

.citizen{
	min-height:50px;
	max-height:60px;
	min-width: 68%;
	max-width: 80%;
	white-space: normal;
	unicode-bidi: normal;
}

.fontface .date{
	
   font-family: 'BebasNeue', helvetica;
   font-size: 188%;
   padding: 4px;
   color: #3669b2;
   text-align: left;
   line-height: 0.5em;
	
}

.fontface .type{
	
	font-family: 'BebasNeue', helvetica;
   font-size: 188%;
   padding: 4px;
   color: #3669b2;
   text-align: left;
   line-height: 0.5em;
	
}

.fontface  .number{
		
	font-family: 'BebasNeue', helvetica;
   font-size: 208%;
   padding: 4px;
   color: #fff;
   text-align: center;
   line-height: 30px;
   background: #3669b2;
   position: absolute;
   top: 2%;
   right: 2%;
   width: 30px;
   height: 30px;
   
	
}

.picture1{
	position: absolute;
	top: 25%;
   	right: 2%;
	
}
.picture2{
	position: absolute;
	top: 48%;
   	right: 2%;
	
}
.picture3{
	position: absolute;
	top: 71%;
   	right: 2%;
	
}
.camera,.geo,.clock{
	position: absolute;
	bottom: 8%;
}

.camera{
	left: 4%;
}
.geo{
	left: 20%;
}
.clock{
	left: 36%;
}

.expand{
	position: absolute;
	right: 24px;
}

.date2{
	position: absolute;
	top:14px ;
	right: 44px;
}

.img_detail{
	position: absolute;
	top: 8px;
	right: 14px;
}

p.complete_txt{
	font-size: 1em;
	color: #000;
	padding: 2%;
	line-height: normal;
}

.image_notification{
	width: 500px;
	display: block;
	margin: 0 auto;
	padding-left: 28px;
}


.pagination1{
	margin-left: 240px;
}

iframe.map_all{
	border: 2px solid #ccc;
	padding: 2px;
}

.fontface .title_modal{
		
   font-family: 'BebasNeue', helvetica;
   font-size: 118%;
   border-top: 1px solid #ddd;
   padding-top: 10px;
   
}

#amount{
	text-align: center;
	border: 0;
	width: 58px;
	position: absolute;
	right: 26px;
	top: 188px;
	font-size: 1.4em;
	height: 1.4em;
	z-index: 100;
	font-weight: bold;
	background: #3669b2;
	color: white;
}

.dates_modal{
	width: 522px;
	text-align: center;
}

.date_modal{
	width: 211px;
	float: left;
}

.date_m2{
	width: 100px;
}

#datepicker_modal,#datepicker_modal2{
	width: 140px;
	text-align: center;
	color: #3669b2;
}

.boolean{
	padding-left: 14px;
	}
	
.date_m3{
	background: #ccc;
	width:208px;
	border: 1px solid #bbb;
	height: 78px;
}
.message_save{
	position: relative;
}
.message{
	width: 388px;
	height: 80px;
}

.pre,.por,.fech{
	position: absolute;
	width: 128px;
}
.pre{
	top: 0;
	right: 0;
}
.por{
	top: 30px;
	right: 0;
}
.fech{
	top: 60px;
	right: 0;
}

/* @end */

/*Estilo de mapas*/

/* @group Mapas */



/* @end */

  /* Landscape phones and down */
  @media (max-width: 480px) {
	
	.box{
	min-width:98%;
	max-width: 98%;
	max-height: 768px;
	min-height: 28px;
	display: block;
	background: #E2E0E2;
	float: left;
	margin:4px;

}

	.column{
	min-height: 220px;
	max-height: 320px;
	width: auto;
	overflow-x:hidden ;
	overflow-y:scroll ;
}

.expand{
	position: absolute;
	top: 0;
	right: 28px;
}
 
}

  /* Landscape phone to portrait tablet */
  @media (max-width: 767px) {
	
	 }
	 
  		  /* Portrait tablet to landscape and desktop */
  @media (min-width: 768px) and (max-width: 1280px) {
	.box{
	min-width:19%;
	max-width: 19.7%;
	min-height: 688px;
	max-height: 700px;
	display: block;
	background: #E2E0E2;
	float: left;
	margin:2px;
	}

	
.fontface .title{
   font-family: 'BebasNeue', helvetica;
   padding: 6px;

}
.fontface .title h3{
   font-size: 94%;

}

}


	
	  /* standar 1 desktop */
  @media (max-width: 1024px) {
	.fontface .title{
   font-family: 'BebasNeue', helvetica;
   font-size: 100%;
   padding: 4px;
   }
   


}
	
 
  /* Large desktop */
@media (min-width: 1200px) {
	
.fontface .title {
   font-family: 'BebasNeue', helvetica;
   font-size: 140%;
   padding: 4px;}

	 }